<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RELauncher3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <RELauncher3.Properties.Settings>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="Memory" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoSetMemory" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoExit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="JavaPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ThemeColor" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerIP" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoConnectServer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LaunchMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GameWidth" serializeAs="String">
                <value>1280</value>
            </setting>
            <setting name="GameHeight" serializeAs="String">
                <value>768</value>
            </setting>
            <setting name="TwitchLogin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BGPPath" serializeAs="String">
                <value>null</value>
            </setting>
        </RELauncher3.Properties.Settings>
    </userSettings>
</configuration>
